.button {
  background: $yellow;
  border: 0;
  border-radius: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  padding: 15px 20px !important;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease;
  -webkit-appearance: none;
  &:hover {
    background: $grey !important;
    color: white;
  }
  &--big {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
      font-weight: bold;
      line-height: 27px;
      padding: 25px 35px !important;
    }
  }
} 