.breadcrumb {
  background: $yellow;
  color: black;
  padding: 10px 0;
  @media screen and (max-width: 767px) {
    padding: 5px 0;
    font-size: 12px;
  }
  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  &__event-name {
    font-size: 15px;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}