.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  &:before,
  &:after {
    background: $yellow;
    content: "";
    height: 5px;
    flex: 1 0 auto;
  }
  &__box {
    margin: 0 20px;
    @media screen and (max-width: 767px) {
      margin: 0 10px;
    }
  }
  &__number {
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 45px;
    }
  }
  &__text {
    color: white;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }
  &--small {
    justify-content: flex-end;
    &:before,
    &:after {
      content: none;
    }
    .countdown__box {
      margin: 0 2px;
    }
    .countdown__number {
      color: black;
      font-size: 20px;
      line-height: 1;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    .countdown__text {
      color: black;
      font-size: 8px;
    }
  }
}