.event {
  background: white url(../images/bg-texture.jpg);
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
  padding: 30px;
  position: relative;
  width: 100%;
  &__title {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}