.footer {
  background: $grey;
  padding: 10px 0;
  &__item {
    color: white;
    display: inline-block;
    font-size: 13px;
    margin: 0 30px 10px 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__need-help {
    color: white;
    font-size: 15px;
    margin: 15px 0;
  }
}

.footer-copyright {
  background: white;
  color: black;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}