.header {
  background: $grey;
  padding: 30px 0;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }
  &__button-mobile {
    background: none;
    border: 0;
    flex: 0 0 auto;
    padding: 10px 15px 10px 0;
    outline: none;
    div {
      background: $yellow;
      height: 4px;
      margin-bottom: 4px;
      transition: all 300ms ease;
      transform: rotate(0deg);
      opacity: 1;
      width: 24px;
      &:last-of-type {
        margin: 0;
      }
    }
    &.active {
      div {
        &:first-of-type {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:last-of-type {
          transform: translateY(-8px) rotate(-45deg) ;
        }
      }
    }
  }
  &__logo {
    display: inline-block;
    flex: 0 0 auto;
    max-width: 100%;
    img {
      max-height: 55px;
      @media screen and (max-width: 767px) {
        max-width: 128px;
      }
    }
  }
  &__menu {
    margin-bottom: -5px;
    @media screen and (max-width: 767px) {
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
      background: $grey;
      display: none;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 100;
    }
    &__item {
      color: white;
      position: relative;
      padding: 5px 10px;
      @media screen and (max-width: 767px) {
        border-top: 1px solid $grey-light;
        display: block;
        padding: 10px;
      }
      &:after {
        background: $yellow;
        content: "";
        height: 3px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: width 300ms ease;
        width: 0;
      }
      @media screen and (min-width: 768px) {
        &:hover,
        &.header__menu__item--current {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  &__menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__lang-switcher {
    color: white;
    padding: 5px 10px;
    border-right: 1px solid white;
  }
  &__cart {
    padding: 5px 10px;
    position: relative;
    svg {
      display: block;
      fill: $yellow;
      height: 26px;
      width: 30px;
    }
    &__number {
      position: absolute;
      font-size: 12px;
      color: #ffde00;
      top: -7px;
      right: 5px;
    }
  }
}