.intro {
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  padding: 50px 0;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__event-logo {
    text-align: center;
    svg,
    img {
      display: inline-block;
      fill: white;
      max-height: 150px;
      @media screen and (max-width: 767px) {
        max-height: 80px;
      }
    }
  }
  &__info {
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    display: inline-block;
    margin: 30px 0;
    padding: 15px 0;
    @media screen and (max-width: 767px) {
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      margin: 15px 0;
      padding: 10px 0;
    }
  }
  &__title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      font-size: 50px;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__date {
    color: $yellow;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__provider {
    margin: 20px 0;
    text-align: center;
  }
}

.intro__steps {
  margin-top: 80px;
}

.intro__step {
  background: white url(../images/bg-texture.jpg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
  position: relative;
  &__number {
    background: white url(../images/bg-texture.jpg);
    border: 5px solid $yellow;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: black;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    line-height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
  }
  &__image {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }
  &__info {
    padding: 20px;
  }
  &__title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .button {
    margin-top: 15px;
  }
}