.c-product {
  background: white;
  border: 1px solid #ddd;
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  &:after {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		transition: opacity 300ms ease;
		top: 0;
    width: 100%;
    z-index: -1;
	}
	@media screen and (min-width: 768px) {
		&:hover {
			&:after {
				opacity: 1;
			}
		}
  }
  &__button-container {
    margin-top: auto;
  }
  &__image {
    margin-bottom: 15px;
  }
  &__provider {
    color: black;
    font-size: 15px;
    font-weight: 700;
    // height: 18px;
    text-transform: uppercase;
  }
  &__title {
    color: black;
    display: block;
    height: 52px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
  }
  &__price {
    color: #eb212e;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    sup {
      font-size: 19px;
    }
  }
}