.shop {
  padding: 50px 0;
  @media screen and (max-width: 767px) {
    padding: 15px 0;
  }
}

.shop-categories {
  background: white;
  border: 1px solid #ddd;
  padding: 15px 15px 0;
  margin: 0 0 30px 0;
  text-align: center;
  &__title {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px 0;
  }
  &__item {
    background: white;
    border: 3px solid $yellow;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 15px 0;
    padding: 10px 15px;
    transition: all 300ms ease;
    width: 100%;
    &:hover,
    &.active {
      background: $yellow;
    }
  }
}