.select2-container {
  width: 100%;
  z-index: 10;
  min-width: 200px;
}

.select2-search--dropdown {
  display: none;
}

.select2-container--open .select2-selection__arrow:after {
  margin-top: -6px;
  transform: rotate(180deg);
}

.select2-container .select2-selection {
  border: 1px solid #ddd;
  border-radius: 0;
  height: 45px;
  position: relative;
}

.select2-container .select2-selection .select2-selection__arrow {
  border-left: 1px solid #ddd;
  height: 100%;
  right: 0;
  top: 0;
  width: 44px;
  z-index: 1;
}

.select2-container .select2-selection .select2-selection__arrow:after {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23666666;' id='icon-arrow-down' data-name='icon-arrow-down' viewBox='0 0 257.33 171.57'%3E%3Ctitle%3Eicon-arrow-down%3C/title%3E%3Cpath d='M254.48,121.56h.58q18.21,18.66,36.44,37.31c.66.68,1.44,1.25,2.16,1.87v.58c-.78.72-1.59,1.4-2.33,2.16q-62,63.48-123.92,127a17.43,17.43,0,0,0-1.79,2.65l-1.24,0a18,18,0,0,0-1.8-2.64Q100.75,227.06,38.88,163.7c-.81-.83-1.69-1.58-2.54-2.37q0-.29,0-.58c.72-.62,1.5-1.19,2.16-1.87q18.23-18.65,36.44-37.32h.58a20.2,20.2,0,0,0,1.75,2.19q42.84,40.79,85.71,81.54c.62.59,1.28,1.14,2,1.8.53-.45,1-.8,1.39-1.19q43.39-41.27,86.76-82.56A12.82,12.82,0,0,0,254.48,121.56Z' transform='translate(-36.33 -121.56)'/%3E%3C/svg%3E");
  display: inline-block;
  font-size: 0;
  height: 8px;
  width: 12px;
  display: inline-block;
  font-size: 0;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  right: 15px;
  margin-top: -4px;
  top: 50%;
}

.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 44px;
  padding-left: 10px;
  padding-right: 45px;
  text-align: left;
}

.select2-container .select2-custom-placeholder {
  background: #fff;
  display: none;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 50px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .select2-container .select2-custom-placeholder {
      display:block;
  }
}

@media screen and (max-width: 767px) {
  .select2-container .select2-custom-placeholder {
      font-size:12px;
  }
}

@media screen and (max-width: 340px) {
  .select2-container .select2-custom-placeholder {
      font-size:11px;
  }
}

.select2-container .select2-dropdown {
  border: none;
  border-radius: 0;
  z-index: 49;
  margin-top: 4px;
}

.select2-container .select2-dropdown .select2-results {
  border: 1px solid #ddd;
  border-top: 0;
}

.select2-container .select2-dropdown .select2-results__options {
  max-height: 240px;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option {
  background: #fff;
  color: #000;
  cursor: pointer;
  line-height: 1.2;
  padding: 12px 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option:empty {
  display: none;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option--highlighted,.select2-container .select2-dropdown .select2-results__options .select2-results__option:hover {
  // background: #00315d;
  // color: #fff;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true] {
  background: $yellow;
  color: black;
  cursor: default;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option[aria-disabled=true] {
  background: #ddd;
  color: #666;
  pointer-events: none;
}

.select2-container .select2-dropdown--above {
  margin-top: 1px;
}

@media screen and (max-width: 991px) {
  .select2-container .select2-dropdown--above {
      z-index:51;
  }
}

.select2-container .select2-dropdown--above .select2-results {
  border-top: 1px solid #ddd;
}