.product {
  margin: 30px 0;
  .variations {
    width: 100%;
  }
  .reset_variations {
    display: inline-block;
    margin-left: 15px;
    @media screen and (max-width: 991px) {
      margin: 10px 0 0 0;
    }
  }
  .product_title {
    margin: 0 0 20px;
  }

  &__brand {

  }
  
  .woocommerce-Price-amount {
    color: #eb212e;
    font-size: 42px;
    font-weight: bold;
  }
  
  .woocommerce-product-details__short-description {
    margin: 30px 0;
  }
  
  table.variations {
    td {
      padding-bottom: 15px;
    }
  }

  form.cart {
    .quantity {
      width: 188px;
      display: inline-block;
      vertical-align: middle;
    }
    .button {
      vertical-align: middle;
    }
  }
  
  .product_meta {
    border-top: 1px solid black;
    margin: 15px 0;
    padding: 15px 0 0;
    > span {
      margin-right: 15px;
    }
  }
  
  .woocommerce-product-gallery__wrapper {
    img {
      height: auto;
    }
  }
  
  .woocommerce-variation-add-to-cart {
    margin: 30px 0;
  }
  .woocommerce-variation-add-to-cart-disabled {
    opacity: 0.5;
  }
}
