.woocommerce form.login,
.woocommerce form.register {
  background: white;
  border: 1px solid $grey-light;
  border-radius: 0;
  margin-top: 0;
  h2 {
    margin: 0 0 15px 0;
  }
}

.woocommerce-validated .select2-container .select2-selection {
  border-color: #69bf29;
}

.woocommerce form {
  fieldset legend {
    font-weight: bold;
  }
  .short_desc {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 3px;
  }
  .form-row {
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    em {
      font-size: 12px;
    }
    label:not(.woocommerce-form__label-for-checkbox) {
      color: #666;
      font-size: 14px;
      line-height: 1 !important;
      left: 15px;
      position: absolute;
      top: 15px;
      pointer-events: none;
      transform-origin: 0 0;
      transform: translateY(0) scale(1);
      transition: all 150ms ease-in-out;
      @media screen and (max-width: 767px) {
        font-size: 13px;
      }
      &.screen-reader-text {
        clip: auto;
        height: auto;
        width: auto;
      }
    }
    &--filled {
      label:not(.woocommerce-form__label-for-checkbox) {
        transform: translateY(-8px) scale(0.8);
      }
    }
    .select2-container {
      width: 100% !important;
    }
  }
}

.input-text:not(.qty) {
  border: 1px solid #ddd;
  color: #000;
  font-size: 14px;
  height: 45px;
  padding: 19px 14px 5px;
  text-align: left;
  width: 100%;
  border-radius: 0;
  outline: 0;
  &:focus {
    border: 2px solid #ddd;
    padding: 19px 13px 5px;
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparent;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: transparent;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: transparent;
  }
}

.input-text.qty {
  border: 1px solid #ddd;
  color: #000;
  font-size: 16px;
  height: 45px;
  text-align: left;
  width: 100%;
  border-radius: 0;
  outline: 0;
  min-width: 100px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.quantity {
  position: relative;
  margin-bottom: 5px;
}

.quantity-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  border: 1px solid $grey-light;
  width: 44px;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 13px;
  // font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 44px;
  top: 0;
  user-select: none;
}

.quantity-button.quantity-up {
  right: 0;
}

.quantity-button.quantity-down {
  left: 0;
}

.woocommerce .quantity .qty {
  @media screen and (max-width: 767px) {
    margin-left: auto;
  }
}