
.woocommerce table.shop_table {
  background: white;
  border: none;
  border-radius: 0;
  margin: 0;
  border-collapse: collapse;
  th {
    background: $grey-light;
  }
}

.woocommerce-checkout #payment {
  background: white;
  border-radius: 0;
}

.woocommerce table.cart img {
  max-height: 100px;
  width: auto;
}

.woocommerce-form-coupon-toggle {
  display: none;
}

.woocommerce-customer-details address {
  background: white;
  padding: 15px;
}

.woocommerce ul.order_details {
  padding: 0;
  @media screen and (max-width: 991px) {
    li {
      float: none;
      margin-bottom: 10px;
      border: none;
    }
  }
}