.woocommerce-MyAccount-navigation {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-MyAccount-navigation-link {
  background: white;
  border: 1px solid $grey-light;
  border-bottom: 0;
  flex: 1 0 auto;
  text-align: center;
  transition: all 300ms ease;
  @media screen and (max-width: 767px) {
    width: 50%;
  }
  a {
    color: black;
    display: block;
    padding: 20px;
    @media screen and (max-width: 991px) {
      padding: 10px;
    }
  }
  &:hover,
  &.is-active {
    background: $yellow;
  }
}

.woocommerce-MyAccount-content {
  border: 1px solid $grey-light;
  background: white;
  padding: 20px;
}