.woocommerce a.woocommerce-Button,
.woocommerce button.woocommerce-Button,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce a.button.alt,
.woocommerce a.button {
  @extend .button;
}

.checkout-button {
  float: right;
  margin-top: 15px !important;
}