.woocommerce {
	margin-bottom: 30px;
}

.woocommerce a:not([class]),
.woocommerce a.edit,
.woocommerce .shipping-calculator-button,
.woocommerce .woocommerce-privacy-policy-link,
.woocommerce .woocommerce-terms-and-conditions-link,
.reset_variations {
	background-image: linear-gradient(to top, rgba($yellow, 0.7) 0px, rgba($yellow, 0.7) 100%);
	background-size: 100% 10%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	color: inherit;
	transition: background-size 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 50ms;
	&:hover {
		background-size: 100% 100%;
	}
}

.woocommerce-info {
	border-top-color: $yellow;
	&:before {
		color: $yellow;
	}
}

.woocommerce-info,
.woocommerce-message {
	@media screen and (max-width: 600px) {
		display: flex;
		flex-flow: column;
		.woocommerce-Button, .button {
			order: 10;
			margin-top: 15px;
		}
	}
}

.woocommerce .col2-set {
	width: auto;
}