html,
button,
input,
select,
textarea {
	color: $color-text;
	font-family: $font-stack;
}

body {
	background: #fff url(../images/bg-texture.jpg);
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0;
	position: relative;
	>.container {
		min-height: 70vh;
	}
}

a {
	// color: $color-link;
	text-decoration: none;
	// &:hover { color: $color-link-hover; }
	// &:focus,
	// &:active { color: $color-link-active; }
}
a:not([class]) {
	background-image: linear-gradient(to top, rgba($yellow, 0.7) 0px, rgba($yellow, 0.7) 100%);
	background-size: 100% 10%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	color: inherit;
	transition: background-size 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 50ms;
	&:hover {
		background-size: 100% 100%;
	}
}

img { vertical-align: middle; max-width: 100%; }

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0; padding: 0;
}

textarea {
	resize: vertical;
}

// Selection
::-moz-selection {
	background: black;
	color: white;
	text-shadow: none;
}

::selection {
	background: black;
	color: white;
	text-shadow: none;
}

// Placeholder color
::-webkit-input-placeholder { /* WebKit browsers */
	color: black;
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: black;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: black;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: black;
	opacity: 1;
}

#wpadminbar {
	position: fixed !important;
}

// safari FIX for bootstrap 4
/**
Fixing bootstrap columns for safari
 */
 .row:before, .row:after{
	display: inline-block !important;
 }