/* =======================================================================
Layout
========================================================================== */

.l-6 {
	// @include span(6);
	width: 50%;
	float: left;
}